html,body {
	height: 100%;
}
/* 内容区 */
main {
	width: 100%;
	height: calc(100% - 0.72rem);
	margin-top: .72rem;
}
.itemBlock {
	display: flex !important;
	align-items: center;
	justify-content: center;
} 
.banner-box {
	margin-top: 0;
}
.banner-box .content-box {
	width: 5.18rem;
	height: 3.16rem;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
}
.itemBlock .container-box {
	max-width: 14.4rem;
	margin: 0 auto;
	padding: .72rem 1.2rem;
	position: relative;
}
.itemBlock .article-img img {
	width: 100%;
	height: 100%;
	display: block;
}
.itemBlock h5 {
	font-size: .28rem;
	color: #0C3375;
	font-family: Avenir-Medium;
	font-weight: 500;
	line-height: .38rem;
	margin-bottom: .56rem;
}
.itemBlock h6 {
	font-size: .22rem;
	color: #0C3375;
	font-family: Avenir-Medium;
	font-weight: 500;
	line-height: .33rem;
}
.itemBlock .btn-box {
	margin-top: .36rem;
	display: flex;
}
.itemBlock .btn-box a {
	width: 2.3rem;
    height: .48rem;
	line-height: .48rem;
	font-size: .18rem;
	text-decoration: none;
	font-family: Avenir-Roman;
	border: .015rem solid #0C3375;
	color: #0C3375;
	background-color: #fff;
	display: inline-block;
    text-align: center;
	cursor: pointer;
}
.itemBlock .btn-box a:hover {
	background-color: #0C3375;
	color: #fff;
}
.itemBlock .decorative-imageBox img {
	position: absolute;
	z-index: -1;
}
.itemBlock2 .article-img {
	float: right;
	width: 5.2rem;
	margin-left: .4rem;
	margin-top: 1.8rem;
}
.itemBlock2 .article-txt {
	float: left;
	width: calc(100% - 5.6rem);
}
.itemBlock2 .article-txt>div {
	display: flex;
	align-items: center;
}
.itemBlock2 .article-txt>div img {
	width: 1.4rem;
	height: 1.4rem;
	margin-right: .24rem;
}
.itemBlock2 .article-txt>div>div>span {
	font-size: .24rem;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Heavy;
	font-weight: 800;
	line-height: .33rem;
	display: block;
}
.itemBlock2 .article-txt>div>div>span:last-child {
	font-family: Avenir-Medium;
	font-weight: 500;
	margin-top: .08rem;
}
.itemBlock2 .article-txt p {
	font-size: .22rem;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Roman;
	line-height: .34rem;
	margin-top: .32rem;
}
.itemBlock2 .article-txt p:last-child {
	margin-top: .12rem;
}
.itemBlock2 .decorative-imageBox .decorativeImg_1 {
	left: 0;
	bottom: 0;
	width: 3.76rem;
	height: 2.97rem;
}
.itemBlock2 .decorative-imageBox .decorativeImg_2 {
	right: 0;
	top: 0;
	width: 3.33rem;
	height: 2.56rem;
}
.itemBlock2 .decorative-imageBox .decorativeImg_3 {
	left: 2.2rem;
	bottom: 1.6rem;
	width: 4.42rem;
	height: 4.44rem;
}

.itemBlock3 .article-txt p {
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Medium;
	font-weight: 500;
}
.itemBlock3 .newsSwiper {
	width: 5rem;
	float: left;
	position: relative;
}
.itemBlock3 .newsSwiper  .swiper-slide {
	background-color: #F5F5F5;
}
.newsSwiper .swiper-button-prev,
.newsSwiper .swiper-button-next {
    width: .32rem;
    height: .32rem;
    top: 32%;
	transform: translate(0, -32%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    overflow: hidden;
    margin-top: 0;
    cursor: pointer;
    right: auto;
    z-index: 1;
}
.newsSwiper .swiper-button-prev {
    left: .2rem;
}
.newsSwiper .swiper-button-next {
    right: .2rem;
}
.newsSwiper .swiper-pagination {
	top: 47% !important;
	height: .1rem;
}
.newsSwiper .swiper-pagination-bullet {
	width: .05rem;
	height: .05rem;
	border-radius: 50%;
	background: rgba(255, 255, 255, .45);
	opacity: 1;
}
.newsSwiper .swiper-pagination-bullet-active {
	background: rgba(255, 255, 255, 1);
	width: .18rem;
	border-radius: .13rem;
	opacity: 1;
}
.itemBlock3 .newsSwiper img {
	width: 100%;
	height: 3.8rem;
}
.itemBlock3 .newsSwiper .swiper-slide>div {
	padding: .22rem .24rem .24rem;
}
.itemBlock3 .newsSwiper p:first-child {
	font-size: .15rem;
	line-height: .2rem;
	color: rgba(0, 0, 0, .45);
	font-family: Avenir-Roman;
	margin-top: 0;
}
.itemBlock3 .newsSwiper p {
	font-size: .2rem;
	line-height: .27rem;
	margin-top: .12rem;
}
.itemBlock3 .newsSwiper p:last-child {
	margin-top: .1rem;
	color: rgba(0, 0, 0, .65);
	font-size: .17rem;
	line-height: .23rem;
}
.itemBlock3 .newsSwiper p>a {
	color: #0C3375;
}
.itemBlock3 .article-txt ul {
	width: 6.44rem;
	float: right;
	margin-left: .56rem;
}
.itemBlock3 .article-txt ul li {
	padding: .12rem 0;
	border-bottom: .01rem solid rgba(0, 0, 0, .1);
	cursor: pointer;
}
.itemBlock3 .article-txt ul li.active,
.itemBlock3 .article-txt ul li:hover {
	background-color: #F5F5F5;
	padding-left: .12rem;
}
.itemBlock3 .article-txt ul li p:first-child {
	font-size: .14rem;
	line-height: .19rem;
	color: rgba(0, 0, 0, .45);
	font-family: Avenir-Roman;
	margin-top: 0;
}
.itemBlock3 .article-txt ul li p {
	font-size: .16rem;
	line-height: .22rem;
	margin-top: .06rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemBlock3 .article-txt ul li:first-child {
	border-top: .01rem solid rgba(0, 0, 0, .1);
}
.itemBlock3 .btn-box {
	margin-top: -0.48rem;
	justify-content: flex-end;
}
.itemBlock3 .btn-box a {
	width: 2.48rem;
}
.itemBlock4 {
	flex-direction: column;
}
.itemBlock4 .article-txt {
	position: relative;
}
.itemBlock4 .boxH {
	width: 100%;
    height: calc(100% - 1.48rem);
	overflow: hidden;
    position: relative;
	display: flex;
    align-items: center;
}
.itemBlock4 .wordCloud-box {
	float: left;
	width: 5.6rem;
	height: 3.8rem;
}
.itemBlock4 .wordCloudDetail-box {
	float: right;
	width: 5.6rem;
	margin-left: .8rem;
	padding-top: .2rem;
	position: relative;
}
.itemBlock4 .wordCloudDetail-box::before {
	position: absolute;
	content: "";
	background-color: #275190;
	width: 100%;
	height: .05rem;
	left: 0;
    top: 0;
}
.itemBlock4 .wordCloudDetail-box p {
	margin-top: .12rem;
	font-size: .22rem;
	line-height: .3rem;
	color: rgba(0, 0, 0, .65);
	font-family: Avenir-Roman;
	width: 5.12rem;
}
.itemBlock4 .wordCloudDetail-box p:first-child {
	font-size: .24rem;
	line-height: .33rem;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Medium;
	font-weight: 500;
}
.itemBlock4 .decorative-imageBox .decorativeImg_4 {
	right: .5rem;
    bottom: .5rem;
	width: 4.6rem;
	height: 2.8rem;
}