.footer-box {
	position: fixed;
	bottom: 0;
	z-index: 1;
}
.banner-box {
	height: 2.2rem;
}
.banner-box .banner-content {
	align-items: center;
	justify-content: left;
}
.banner-box .banner-content .txt-box {
	width: 13.15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	padding-left: .6rem;
}
.banner-box .banner-content .txt-box p {
    color: #FFFFFF;
	width: 13.1rem;
    /* word-break: break-all; */
}
.banner-box .banner-content .txt-box p:last-child {
	margin-top: .08rem;
}
.itemBlock {
	padding-bottom: 1.16rem;
}
.itemBlock .container-box {
	max-width: 14.4rem;
	margin: 0 auto;
	padding: .72rem 1.2rem;
	display: flex;
    justify-content: center;
}
.itemBlock .container-box .item {
	width: 3.2rem;
    height: 3.8rem;
	margin-right: .72rem;
	position: relative;
	cursor: pointer;
}
.itemBlock .container-box .item:last-child {
	margin-right: 0;
}
.itemBlock .container-box .item img {
	width: 100%;
	height: 100%;
	position: relative;
}
.itemBlock .container-box .item .mask {
	width: 100%;
	height: 1.12rem;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background-color: rgba(0, 0, 0, .4);
	font-size: .28rem;
	color: #FFFFFF;
	line-height: .38rem;
	font-family: Avenir-Medium;
	font-weight: 500;
}
.itemBlock .container-box .item .mask>div {
	width: 1.02rem;
    height: .32rem;
    margin-top: .06rem;
	background-color: #2357A5;
	font-size: .12rem;
	color: #FFFFFF;
	padding-top: .02rem;
    display: flex;
    align-items: center;
    justify-content: center;
	display: none;
}
.itemBlock .container-box .item:hover .mask>div {
    display: flex;
}
.itemBlock .container-box .item:hover .mask {
	height: 100%;
}