.bannerSwiper {
    height: 100%;
}
.bannerSwiper .swiper-slide {
	position: relative;
}
.bannerSwiper .swiper-slide::after {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:140px;
	content:"";
	background:linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%)
}
.bannerSwiper .swiper-button-prev,
.bannerSwiper .swiper-button-next {
    width: 36px;
    height: 36px;
    top: 50%;
	transform: translate(0, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    overflow: hidden;
    margin-top: 0;
    cursor: pointer;
    right: auto;
    z-index: 1;
}
.bannerSwiper .swiper-button-prev {
    left: 20px;
}
.bannerSwiper .swiper-button-next {
    right: 20px;
}
.bannerSwiper .swiper-pagination-bullet {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .45);
	opacity: 1;
}
.bannerSwiper .swiper-pagination-bullet-active {
	width: 80px;
	border-radius: 13px;
	opacity: 1;
	position: relative;
}
.bannerSwiper .swiper-pagination-bullet-active::before{
	left: 0;
	width: 0;
	height: 5px;
	bottom: 0;
	content:"";
	border-radius: 13px;
	background-color:#FFFFFF;
	position: absolute;
	z-index: 1;
	opacity: 1;
	opacity:1;
	animation: 5s forwards grow;
	-webkit-animation: 5s forwards grow
}
@keyframes grow{
	0%{width: 0}
	100%{width: 80px}
}
@-webkit-keyframes grow{
	0%{width: 0}
	100%{width: 80px}
}
.bannerSwiper .swiper-pagination {
	bottom: -25px !important;
}

.itemBlock .top-box {
	max-width: 1440px;
	margin: 0 auto;
	padding: 72px 120px 12px;
}
.itemBlock .top-box h5 {
	font-size: 28px;
	color: #0C3375;
	font-family: Avenir-Medium;
	font-weight: 500;
	line-height: 38px;
    text-align: center;
}
.itemBlock .top-box ul {
	display: flex;
	justify-content: center;
}
.itemBlock .top-box ul li {
	height: 33px;
	font-size: 14px;
	color: #1A5BBD;
	font-family: Avenir-Medium;
	font-weight: 500;
	border: 1.5px solid #1A5BBD;
	border-radius: 20px;
	padding: 2px 26px 0;
	margin-right: 16px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.itemBlock .top-box ul li:last-child {
	margin-right: 0;
}
.itemBlock .top-box ul:nth-last-child(2) li {
	margin-top: 15px;
}
.itemBlock .top-box ul li.active {
	color: #FFFFFF;
	border-color: #1A5BBD;
	background-color: #1A5BBD;
	box-shadow: 0 3px 10px 0 rgba(0, 20, 51, .2);
}
.itemBlock .top-box p {
	margin-top: 25px;
	font-size: 14px;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Roman;
	line-height: 19px;
	text-align: center;
}
.itemBlock .container-box {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 120px;
}
.itemBlock .container-box ul {
	background-color: #F5F5F5;
    box-sizing: border-box;
	padding-bottom: 48px;
	display: flex;
    flex-direction: column-reverse;
}
.itemBlock .container-box ul li {
	padding: 24px 28px;
	border-top: 1.2px solid rgba(0, 0, 0, .1);
	display: flex;
	counter-increment: number;
}
.itemBlock .container-box ul li::before {
    font-family: Avenir-HeavyOblique;
    font-size: 16px;
    color: #2157A8;
	content: counter(number);
}
.itemBlock .container-box ul li:last-child {
	border-color: transparent;
}
.itemBlock .container-box ul li img {
	margin: 0 32px;
	width: 230px;
	height: 173px;
	display: block;
}
.itemBlock .container-box ul li p {
	font-size: 14px;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Roman;
	line-height: 19px;
	margin-top: 12px;
}
.itemBlock .container-box ul li p>a {
	color: #1A5BBD;
	font-family: Avenir-Medium;
	font-weight: 500;
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
}
.itemBlock .container-box ul li p:first-child {
	font-size: 17px;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Heavy;
	font-weight: 800;
	line-height: 23px;
	margin-top: 0;
}
.itemBlock .container-box ul li p:nth-child(2) {
	font-family: Avenir-Roman;
}
.itemBlock .container-box ul li p:nth-child(3) {
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-HeavyOblique;
}
.itemBlock .container-box ul li p:nth-last-child(1),
.itemBlock .container-box ul li p:nth-last-child(2) {
	color: rgba(0, 0, 0, .65);
}
.itemBlock .container-box ul li p:nth-last-child(1) {
	margin-top: 6px;
}