.itemBlock {
    background-color: #F5F5F5;
}
.itemBlock:nth-child(2n) {
    background-color: #FFFFFF;
}
.itemBlock .container-box {
	max-width: 1440px;
	margin: 0 auto;
	padding: 72px 120px;
}
.itemBlock:first-child .container-box {
    padding-top: 98px;
    position: relative;
}
.back-box {
    position: absolute;
    top: 36px;
    left: 120px;
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 16px;
    color: rgba(0,0,0,0.85);
    font-family: Avenir-Medium;
    font-weight: 500;
    margin-bottom: 37px;
}
.back-box img {
    width: 18px !important;
    height: 18px !important;
    margin-right: 4px;
}
.back-box a {
    text-decoration: none;
    color: rgba(0,0,0,0.65);
}
.back-box span:nth-child(3) {
    margin: 0 8px;
    color: rgba(0,0,0,0.65);
}
.itemBlock img {
    width: 520px;
    height: 368px;
    display: block;
    float: left;
}
.itemBlock:nth-child(2n) img {
    float: right;
}
.itemBlock:nth-child(2n) .article-txt {
    float: left;
}
.itemBlock .article-txt {
    width: 624px;
    float: right;
}
.itemBlock .article-txt img {
    width: 60px;
    height: 60px;
    float: none;
}
.itemBlock .article-txt p {
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    font-family: Avenir-Roman;
    margin-top: 12px;
    line-height: 29px;
}
.itemBlock .article-txt p:nth-child(2) {
    color: rgba(0,0,0,0.85);
    margin-top: 20px;
    line-height: 30px;
    font-size: 22px;
}