.itemBlock .container-box {
	max-width: 1440px;
	margin: 0 auto;
	padding: 72px 120px;
	display: flex;
	flex-wrap: wrap;
}
.itemBlock .container-box .item {
	width: 370px;
	height: 277px;
	margin-right: 45px;
	margin-top: 45px;
	position: relative;
	cursor: pointer;
}
.itemBlock .container-box .item:nth-child(3n) {
	margin-right: 0;
}
.itemBlock .container-box .item:nth-child(-n+3) {
	margin-top: 0;
}
.itemBlock .container-box .item img {
	width: 100%;
	height: 100%;
	position: relative;
}
.itemBlock .container-box .item .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.itemBlock .container-box .item .mask>div {
	width: 100%;
	height: 86px;
	margin-bottom: 38px;
	background-color: rgba(255, 255, 255, .6);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.itemBlock .container-box .item .mask>div p {
	font-size: 18px;
	text-align: center;
	font-family: Avenir-Heavy;
	font-weight: 800;
	color: #D92B2B;
	line-height: 33px;
	margin-top: 2px;
}
.itemBlock .container-box .item .mask>div p:first-child {
	font-size: 20px;
	color: rgba(0, 0, 0, .85);
	font-family: Avenir-Medium;
	font-weight: 500;
	line-height: 27px;
	margin-top: 0;
}
.itemBlock .container-box .item .mask>div span {
	color: rgba(0, 0, 0, .85);
}
.itemBlock .container-box .item:hover .mask {
	background-color: rgba(255, 255, 255, .6);
}
.itemBlock .container-box .item:hover .mask>div {
	background-color: transparent;
}